*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-karla);
    font-size: 1rem;
}

:root{
    /* primary color */
    --Cyan: #2ab2af;
    --Bright-Yellow: #c0df34;

    /* natural color */
    --Light-Gray: #e5eff5;
    --Grayish-Blue: #98a6bd;

    /* font family */
    --ff-karla: 'Karla', sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    width: min(90rem, 100%);
    min-height: 50rem;
    background-color: var(--Light-Gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-wrapper{
    background-color: transparent;
    width: min(40rem, 90%);
    border-radius: .5rem;
    overflow: hidden;
}

/*---------- card top area -----------*/
.card_top{
    padding: 2.5rem  2rem;
    background-color: #fff;
}

.top_heading{
    font-size: 1.5rem;
    color: var(--Cyan);
    font-weight: 700;
}

.top_sub-heading{
    font-size: 1.1rem;
    color: var(--Bright-Yellow);
    margin-top: 1.1rem;
    font-weight: 700;
}

.top_para{
    font-size: .9rem;
    font-weight: 400;
    color: var(--Grayish-Blue);
    margin-top: .6rem;
    line-height: 1.5;
}


/*---------- card bottom area ----------*/
.cards_bottom{
    width: 100%;
    display: flex;
}

/* all card */
.bottom__card{
    padding: 2.5rem 2.5rem;
}
.bottom__card h2{
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--Light-Gray);
}

.bottom__card-1{
    width: 50%;
    background-color: var(--Cyan);
}

.bottom__card .price{
    font-size: 1rem;
    font-weight: 400;
    color: #9bdfdd;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.bottom__card .price span{
    font-size: 1.8rem;
    color: var(--Light-Gray);
    font-weight: 700;
    margin-right: .5rem;
}

.bottom__card-1 p{
    font-weight: 400;
    color: var(--Light-Gray);
    margin-top: .5rem;
}

.bottom__card a{
    text-decoration: none;
    color: #fff;
    background-color: var(--Bright-Yellow);
    font-size: 1rem;
    font-weight: 700;
    display: block;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    margin-top: 1.8rem;
    border-radius: .5rem;
}

.bottom__card-2{
    background-color: #4abebd;
    width: 50%;
}

.bottom__card-2 p{
    font-size: 1rem;
    font-weight: 400;
    color: var(--Light-Gray);
    line-height: 1.5;
    margin-top: 1rem;
}



/*---------- responsive ------------*/
@media(max-width: 526px){
    .main{
        padding: 2rem 0;
    }

    /* bottom area */
    .cards_bottom{
        flex-direction: column;
    }

    .bottom__card-1{
        width: 100%;
    }

    .bottom__card-2{
        width: 100%;
    }
}