*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-karla);
    font-size: 1rem;
}

:root{
    /* primary color */
    --Cyan: hsl(179, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);

    /* natural color */
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);

    /* font family */
    --ff-karla: 'Karla', sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}